<footer>
    <p>fresh and cleanly* coded by <a href="https://github.com/RonnySk/" target="_blank">Ronny</a> and <a href="https://github.com/fraulueneburg-ironhack/" target="_blank">Wiebke</a> at <a href="https://www.ironhack.com" target="_blank">Ironhack Bootcamp</a></p>
    <small>* Well, mostly ;-)</small>
</footer>