<header>
    {{#if userFromSession}}
        <a class="logo" href="/flat">🧼</a>
        <div class="btn-group">
            {{#if userIsAdmin}}
            <button class="toggle-edit-mode" aria-label="Edit flat">
                Edit flat
            </button>
            {{/if}}
            <a href="/user/{{userFromSession.id}}" class="btn btn-settings" aria-label="User Settings">
                <img src="/images/icon-user-white.svg" width="32" height="32" alt="">
                </a>
            <form action="/logout" method="post">
                <button type="submit" class="btn-logout">
                    <img src="/images/icon-power-off.svg" width="32" height="32" alt="">
                    <span>Logout</span>
                </button>
            </form>
        </div>
    {{else}}
    <a class="logo" href="/">🧼</a>
    <div class="btn-group">
        <a href="/login" class="btn btn-login">Login</a>
    </div>
    {{/if}}
</header>