<section class="about text-center">
    <img src="/images/hello.jpg" style="border-radius: 50%" width="300" alt="">
    <h1>About</h1>
    <p>fresh and cleanly* coded by <a href="https://github.com/RonnySk/" target="_blank">Ronny</a> and <a href="https://github.com/fraulueneburg-ironhack/" target="_blank">Wiebke</a> at <a href="https://www.ironhack.com" target="_blank">Ironhack Bootcamp</a></p>
    <small>* Well, mostly ;-)</small>
</section>
