<section class="error">
    <img src="/images/sad-otter.jpg" style="border-radius: 50%" width="300" alt="">
    <div class="error">
        <h1>Error!</h1>
        <p>There was an error on the server! Check the console!</p>
    </div>
</section>
