<section class="intro">
    <img src="/images/thumbsup.jpg" width="350" height="350" alt="">
    <h1>{{appTitle}}</h1>
    <h2><em>The most German app ever</em></h2>
    <a class="btn btn-secondary" href="/login">Login</a>
    <a class="btn btn-tertiary" href="/signup">Create Account</a>
</section>